codes/*
!codes/*.v
!codes/*.ucf
!codes/*.coe

!codes/*/
codes/_ngo
codes/_xmsgs
codes/iseconfig
codes/isim
codes/xlnx_auto_0_xdb
codes/xst

codes/ipcore_dir/*
!codes/ipcore_dir/*.mif
!codes/ipcore_dir/*.xco
